<label for="user-password">Password {{form-elements/required-field}}</label>
{{#form.elements.input
  id="user-password"
  class="form-control"
  autocomplete="off"
  autofocus=autofocus
  type="password"
  name="password"
  label="Password"
  value=value
  aria-labeledby="user-password-help"
  on-change=on-change
  required=true
as |input|
}}
  {{input.element}}
  {{input.elements.invalid-feedback}}
{{/form.elements.input}}
<small id="user-password-help" class="form-text text-muted">The user's password.</small>

  {{!-- Disable password autofill --}}
  <input type="text" class="hidden-input">
  <input type="password" class="hidden-input">
  {{!-- Disable password autofill --}}
