@import "pulse/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "pulse/bootswatch";

@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
// Fix z-index issues with dropdowns in boostrap modal
.in-modal-dropdown {
  z-index: 1100;
}

// Fix input height issues with form control
.form-control.ember-power-select-trigger {
  height: auto !important;
}

.ember-power-select-trigger {
  padding: 2px;
}

@import "ember-power-calendar";
.ember-power-calendar {
  @include ember-power-calendar($cell-size: 30px);
}

@import "z-depth";
@import "spin";

// Fluid container that acts like fixed. Main wrapper.
@include media-breakpoint-up(xl) {
  .container-fluid .col.main {
    padding-left: 6.0rem;
    padding-right: 6.0rem;
  }
}
.container-fluid .col.main {
  padding-bottom: 1rem;
}

// Add xl modal, per https://github.com/twbs/bootstrap/pull/19925
@include media-breakpoint-up(lg) {
  .modal-xl { max-width: $modal-lg; }
}

@include media-breakpoint-up(xl) {
  .modal-xl { max-width: $modal-xl; }
}

// Compensate for bottom progress bar. Ensures nav bar links are vertically centered.
nav.navbar {
  padding-top: 1.2em;
  padding-bottom: 0.6em;
}

// Ember link actions, or explicitally clickable.
a[data-ember-action]:not(:disabled),
.clickable {
    cursor: pointer;
}

// Showing progress cursor when transitioning/loading.
body.transitioning {
  cursor: progress;
}

// Add min-height utility
.mnh-100 {
  min-height: 100%;
}

// Add depth to cards
.card {
  box-shadow: $z-depth-1;
  border: none !important;
}

// Add depth to dropdowns
.dropdown-menu {
  box-shadow: $z-depth-2;
  border: none !important;
}

// Add depth to modals
.modal-content {
  border: 0;
  box-shadow: $z-depth-3;
}

// Add depth to buttons
.btn {
  box-shadow: $z-depth-half;
}

// Add depth to active pill tabs
.nav-pills .nav-link.active {
  box-shadow: $z-depth-half;
}

// Add styling to ember-notify alerts
.ember-notify.alert {
  box-shadow: $z-depth-2;
  border: none !important;
}

// Force create button to bottom right; add depth
.fixed-bottom {
  box-shadow: $z-depth-2;
}
.fixed-bottom.right {
  right: 0;
  left: inherit;
}

// Override the "green" success validation state with regular field colors
.was-validated .form-control:valid, .form-control.is-valid, .was-validated .custom-select:valid, .custom-select.is-valid {
  border-color: $input-border-color;
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-box-shadow;
}
