<label for="order-name">Name {{form-elements/required-field}}</label>
{{#form.elements.input
  id="order-name"
  class="form-control"
  autocomplete="off"
  autofocus=autofocus
  type="text"
  name="name"
  label="Name"
  value=value
  aria-labeledby="order-name-help"
  on-change=on-change
  required=true
as |input|
}}
  {{input.element}}
  {{input.elements.invalid-feedback}}
{{/form.elements.input}}
<small id="order-name-help" class="form-text text-muted">The order name.</small>
