{{#auto-save/form id="publisher-edit" as |form|}}
  <div class="card-body">
    <div class="row">
      <div class="col">
        {{publisher/-fields/name
          class="mb-0"
          form=form
          value=model.name
          on-change=(action "setName")
        }}
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    {{confirm-button
      icon="trash"
      label="Delete"
      runningLabel="Deleting..."
      class="btn-danger"
      disabled=isActionRunning
      isRunning=isDeleting
      onConfirm=(action "delete")
    }}
  </div>
{{/auto-save/form}}
