<label for="lineitem-criteria-adunits">Ad Units</label>
{{#form.elements.typeahead
  id="lineitem-criteria-adunits"
  class="form-control"
  dropdownClass=dropdownClass
  autocomplete="off"
  name="adunits"
  label="Ad Units"
  multiple=true
  closeOnSelect=false
  value=value
  on-change=on-change
  on-search=(action "search")
as |input|
}}
  {{#input.element as |adunit|}}
    {{adunit.fullName}}
  {{/input.element}}
  {{input.elements.invalid-feedback}}
{{/form.elements.typeahead}}
