<label for="lineitem-criteria-deployments">Deployments</label>
{{#form.elements.typeahead
  id="lineitem-criteria-deployments"
  class="form-control"
  autocomplete="off"
  name="deployments"
  label="Deployments"
  multiple=true
  closeOnSelect=false
  value=value
  on-change=on-change
  on-search=(action "search")
as |input|
}}
  {{#input.element as |deployment|}}
    {{deployment.fullName}}
  {{/input.element}}
  {{input.elements.invalid-feedback}}
{{/form.elements.typeahead}}
